.admin{
    display:flex;
    .admin-nav{
        width:255px;
        height:100vh;
        background:rgb(20, 52, 65);
        .logo{
            height:70px;
            background:rgb(141, 212, 240);
            font-size:26px;
            text-align:center;
            line-height:70px;
            color:#fff;
        }
    }
    .admin-content{
        flex:1;
        .admin-content-top{
            height:50px;
            line-height:50px;
            border-bottom:3px solid #ccc;
        }

    }
}
